<!DOCTYPE html>
<html>
  <head>
    Angular Login
  </head>

  <body>
    <div class="login-container">
      <form>
        <h2 style="align-items: left;"><img src="assets/lock.png"> Sign in</h2>
        <div class="input-container">
          <img src="assets/at.png" class="icon">
          <input class="input-field" type="text" placeholder="Email address" name="email">
        </div>

        <div class="input-container">
          <img src="assets/lock.png" class="icon">
          <input class="input-field" type="password" placeholder="Password" name="password">
        </div>

        <button type="submit" class="btn-signin"> <img src="assets/lock.png" style="height: 15px;"> Log in</button>
      </form>
    </div>
  </body>
</html>
